@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Qwitcher+Grypen&display=swap');

$body-color: red;

body {
  color: $body-color;
  color: red;
  background: url('src/icon.svg');
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 40px;
}